#main {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
  }
  
  #main div {
    width: 70px;
    height: 70px;
  }

  #main2 {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: flex-start;
  }
  
  #main2 div {
    width: 70px;
    height: 70px;
  }

  #main3 {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
  }
  
  #main3 div {
    width: 70px;
    height: 70px;
  }

  #main4 {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: flex-end;
  }
  
  #main4 div {
    width: 70px;
    height: 70px;
  }