.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
.kaart1 {
    border: 1px solid black; 
    height: 300px;
    width: 380px;
    text-align: center;
}

.kaart2 {
    border: 1px solid black; 
    height: 300px;
    width: 380px;
    text-align: center;
}

.kaart3 {
    border: 1px solid black; 
    height: 300px;
    width: 380px;
    text-align: center; 
}

h2 {
    font-size: 22px;
    font-weight: 150px;
    color: #7e0e0e;
}

button {
    background-color: #521d1d;
    color: rgb(20, 139, 175);
    font-size: 20px;
    height: 50px;
    width: 380px;
}