@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container-left {
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-left: 60px;
    float: left;
}

.navigatie {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    margin: 9px;
}

.navigatie a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 4px;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li {
    display: inline;
} 

.main-boven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box1 {
    width: 200px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.dot-half {
    width: 120px;
    height: 60px; /* as the half of the width */
    background-color: black;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px;
    display: inline-block;
    margin: 10px 10px 10px 30px;
}

.dot-big {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin: 10px 10px 10px 30px;
}

/* #melis-img {
    height: 230px;
    width: 200px;
    margin-top: 50px;
    margin-left: 20px;
} */

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    /* background-color: rgb(255, 255, 255); */
}

#naam {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50%;
    margin-right: 30px;
    text-align: right;
}

#traject {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

.box3 {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;    
    text-align: right;
}

#about {
    color: rgb(255, 0, 0);
    /* margin-top: 100px; */
    font-weight: bold;
    font-size: 40px;
    text-align: bottom right;
    margin: 230px 15px 0px 0px;
}

.box4 {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
} 
    
#intro-tekst {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-right: 15px;
}

/* onderste deel pagina 1 */
.main-onder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.box5 {
    grid-column: 1/2;
    grid-row: 1/2;
} 

#educatie {
    font-size: 25px;
    color: rgb(2, 19, 168);
    font-weight: bold;
    margin: 80px 0px 0px 30px;
}

#opleidingen {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-left: 30px;
}

.hr-line {
    border: 1px solid black;
    margin: 8px 5px;
}

.dot-small {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 270px;
}

.container-right {
    background-image: url("cirkel-background-port.png");
    /* background-color: rgb(190, 202, 255); */
    flex-direction: column;
    width: 700px;
    height: auto;
    float: right;
    margin: 0px 60px;
}

.box8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skills {
    grid-column: 1/2;
    grid-row: 1/2;
}

#skills-titel {
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 19, 168);
    margin: 30px 0px 0px 30px;
    /* margin-left: 15px; */
}

.skill-talen {
    font-size: 18px;
    font-weight: 30px;
    color: black;
    margin-left: 5px;
}

#talen {
    font-size: 18px;
    color: rgb(2, 19, 168);
    margin-left: 5px;
}

.nl-eng {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.box9 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

#work {
    font-size: 35px;
    color: rgb(2, 19, 168);
    font-weight: bold;
    text-align: right;
    margin-right: 30px;




