body {
    margin: 50px;
}
.container {
    border: solid black 1px;
    width: 700px;
    height: 400px;
    background-color: rgba(85, 172, 169, 0.37);
}

.box {
    width: 50px;
    height: 50px;
    background-color: rgba(85, 172, 169, 0.37);
    margin: 5px;
    border: solid black 1px;
    text-align: center;
    transition: all 2s ease-in-out, left 4s ease-in-out 2s, left 3s ease-in-out 1s;
    position: relative;
    left: 300px;
    top: 100px;
}

#box1 {
    position: absolute;
    top: 158px;
}

#box3 {
    position: absolute;
    top: 45px;
}

.container:hover #box1{
    transform: translatey(-155px);
    left: -2px;
}

.container:hover #box2{
    transform: translatey(-155px);
   left: 640px;
}

.container:hover #box3{
    transform: translatey(180px);
    left: -3px;
}
