@mixin button-content {
    background-color: blue;
    color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid greenyellow;
    border-radius: 10px;
}

@mixin button-hover {
    background-color: greenyellow;
    color: blue;
    border: 5px solid blue;
}

@mixin square-content {
    height: 150px;
    width: 150px;
    background-color: blue; 
    border: 5px solid greenyellow;
}

@mixin square-hover {
    background-color: greenyellow;
    border: 5px solid blue;
    transition: 1s;
}

.button {
    height: 50px;
    width: 120px;
    @include button-content()
}

.colorChangingSquare {
    margin-top: 20px;
    @include square-content()
}

.button:hover {
    @include button-hover()
}

.colorChangingSquare:hover {
    @include square-hover()
}