@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
 
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
 
.sidebar {
  width: 20%;
  height: 1300px;
  background-color: #4b86cb;
  color: white;
}
 
#title-menu {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
 
.sidebar ul {
  list-style-type: none;
  margin-left: 50px;
}
 
.sidebar ul li {
  line-height: 40px;
}
 
a {
  color: white;
  text-decoration: none;
}
 
.kim {
  width: 35%;
  height: 200px;
  background-image: url(https://media.istockphoto.com/photos/programming-code-and-matrix-picture-id1068391222);
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: solid 5px #4b86cb;
  margin: 30px 0px 0px 45px;
}
 
#kim-sing {
  display: block;
  margin: auto;
  margin-top: 100px;
  border-bottom: solid 5px  #4b86cb;
  border-left: solid 5px  #4b86cb;
  border-right: solid 5px  #4b86cb;
  border-radius: 50%;
}
 
.kim-info {
  width: 200px;
  margin: auto;
  text-align: center;
}
 
h1 {
  color: black;
}
 
#icons {
  margin-left: 22%;
}
 
.kim_span {
  margin-left: 40px;
  color: #4b86cb;
}
 
#grafiek {
  width: 600px;
  height: 300px;
}
 
.info_div {
    margin-left:20px;
    margin-top:10px;
    text-align: left;
    width: 45%;
}
 
.info_h2 {
    color:white;
    background-color:  #4b86cb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
 
.pers_info p {
    border-bottom:solid  1px black;
}
 
.cloud img {
    width: 100%;
}

